body {
  margin: 0;
  padding: 0;
  font-family: Arial, Frutiger Aero;
  background: #000012;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  z-index: 20;
  max-width: 100%;
  width: auto;
  background: rgba(0, 0, 18, 0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  padding: 15px 30px;
  border-radius: 12px;
}

.header-btn {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.6em 1.6em;
  border: 3px solid #FF004F;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #FFF;
  background-color: #000012;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.header-btn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF004F;
  z-index: -1;
}

.header-btn:hover, .header-btn:focus {
  color: white;
}

.header-btn:hover:before, .header-btn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.header-btn:active {
  transform: scale(0.9);
}

.image-container {
  max-width: 30%;
  min-width: 200px;
  flex-shrink: 0;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: block;
}

.text-content {
  text-align: center;
  max-width: 4200px;
  white-space: nowrap;
  width: 100%;
}

h1 {
  font-size: 6vw;
  margin: 0;
}

h2 {
  font-size: 2.5vw;
  margin: 10px 0;
}

p {
  font-size: 1.2vw;
  margin: 8px 0;
}

.url {
  color: #FFAAFF;
  word-wrap: break-word;
}

.gobackhome {
  color: #00FFFF;
  font-size: 1.2vw;
  text-decoration: none;
}

@media (max-width: 900px) {
  .dashboard {
    flex-direction: column;
    gap: 20px;
  }

  .header-link {
    font-size: 16px;
    padding: 12px 24px;
  }

  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 5vw;
  }

  p,
  .gobackhome {
    font-size: 4vw;
  }

  .image-container {
    max-width: 70%;
  }
}

/* Mobile Support OMG */
.mobile-menu-icon {
  display: none;
  font-size: 40px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 15px;
  color: #FF004F;
  z-index: 20;
  user-select: none;
}

@media (max-width: 600px) {
  .header {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .header.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -170px;
    width: 40%;
    background: #000012cc;
    padding: 400px 130px;
    gap: 10px;
    z-index: 15;
  }

  .header.active .header-btn {
    font-size: 18px;
    padding: 0.8em 1.6em;
    border-radius: 8px;
    text-align: left;
    left: -125px;
    bottom: 155px;
  }
}

.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  max-width: 5200px;
  margin-top: 220px;
  box-sizing: border-box;
  white-space: nowrap;
}