body {
  background: black;
  color: #00ff00;
  font-family: monospace;
  padding: 20px;
}

#terminal {
  max-width: 850px;
  margin: 0;
}

#output {
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 15px;
}

input {
  background: transparent;
  border: none;
  color: #00ff00;
  font-family: monospace;
  font-size: 15px;
  outline: none;
  width: 90%;
}

:root {
  --terminal-color: #F12FF1;
}

body {
  color: var(--terminal-color);
}

input {
  color: var(--terminal-color);
}

.highlight {
  color: yellow;
  font-weight: bold;
}