@font-face {
    font-family: 'Minecraftia';
    src: url('/assets/fonts/Minecraftia.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: Arial, Frutiger Aero;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: #000012;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    z-index: 10;
    max-width: 100%;
    width: auto;
}

.header-link {
    background-color: black;
    padding: 16px 32px;
    border: 2px solid #DE3163;
    border-radius: 35px;
    font-size: 34px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    max-width: 100%;
}

.header-link:hover {
    background-color: #DE3163;
    color: white;
}

.header-link a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

.header-link a:hover {
    text-decoration: underline;
}

.plugin-hero {
    text-align: center;
    margin-top: 150px;
}

.plugin-icon {
    width: 128px;
    height: 128px;
}

.plugin-title {
    font-size: 2.5rem;
    margin: 10px 0;
    font-family: 'Minecraftia';
    color: #DE3163;
}

.plugin-tagline {
    font-size: 1.2rem;
    color: #bbb;
}

.plugin-info {
    background-color: #1d1f27;
    border-radius: 12px;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.plugin-info h2 {
    border-bottom: 2px solid #DE3163;
    padding-bottom: 6px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.plugin-info ul {
    list-style: none;
    padding-left: 0;
}

.plugin-info li {
    margin: 8px 0;
}

.download-btn {
    display: inline-block;
    background: #DE3163;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 1.1rem;
    transition: 0.2s;
}

.download-btn:hover {
    background: #ff4d7e;
}
